@import '../../assets/base.scss';

.main-contact {
  background-color: var(--black-soft);
  padding: 35px 5% 80px 5%;
  .title {
    font-size: var(--text-ml);
    font-weight: 700;
    text-align: center;
  }

  .sub-title {
    text-align: center;
  }

  .form {
    margin: 20px 0;
    .input-div {
      margin: 15px 0;

      .input-right-icon {
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
      }
      .input {
        // position: relative;
        width: 100%;
        padding: 10px 0 10px 10px;
        background-color: transparent;
        border: none;
        border-bottom: 1px solid var(--white);
        outline: none;
        caret-color: var(--white);
        color: var(--white);
        font-family: 'Space Grotesk';
        text-transform: uppercase;
        line-height: 1.5;
        &::placeholder {
          color: var(--white);
          font-family: 'Space Grotesk';
          text-transform: uppercase;
          opacity: .5;
        }
        &::selection {
          background-color: var(--white);
          color: var(--black)
        }
      }

      .error-input {
        border-bottom: 1px solid var(--error);
      }

      .success-input {
        border-bottom: 1px solid var(--green);
      }

      .error-span {
        text-align: right;
        margin-top: 5px;
        .error-message {
          color: var(--error);
          font-weight: 500;
        }
      }
  
    }

    .form-btn {
      display: flex;
      justify-content: flex-end;
    }
  }
}

// Tablet View
@media (min-width: 660px) and (max-width: 1024px) {
  .main-contact {
    .sub-title, .form {
      max-width: 70%;
      margin: 0 auto;
    }
  }
}

// Desktop view
@media (min-width: 1025px) {
  .main-contact {
    display: flex;
    align-items: center;

    .contact-text {
      flex: 1;
      .title, .sub-title {
        text-align: left;
      }
      .title {
        font-size: var(--text-xl);
      }
      .sub-title {
        max-width: 445px;
        font-size: var(--text-s);
      }
    }
    .form {
      flex: 1;
    }
  }
}