@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');

/* color palette from <https://github.com/vuejs/theme> */
:root {
  --white: #ffffff;
  --white-soft: #d9d9d9;
  --white-mute: #f2f2f2;

  --black: #151515;
  --black-soft: #242424;
  --black-mute: #282828;
  --black-fade: rgba(151,151,151, .2);

  --indigo: #2c3e50;

  --green: #4ee1a0;

  --error: #FF6F5B;

  --divider-light-1: rgba(60, 60, 60, 0.29);
  --divider-light-2: rgba(60, 60, 60, 0.12);
  --divider-dark-1: rgba(84, 84, 84, 0.65);
  --divider-dark-2: rgba(84, 84, 84, 0.48);

  --text-light-1: var(--white);
  --text-light-2: var(--white-soft);
  --text-dark-1: var(--white);
  --text-dark-2: rgba(235, 235, 235, 0.64);
  --text-hover: var(--green);

  --text-xl: 88px;
  --text-l: 48px;
  --text-ml: 36px;
  --text-m: 24px;
  --text-s: 18px;
  --text-xs: 14px;
  
  --text-xl-mb: 40px;


  --text-light: 300;
  --text-regular: 400;
  --text-medium: 500;
  --text-semibold: 600;
  --text-bold: 700;

}

/* semantic color variables for this project */
:root {
  --color-background: var(--black);
  --color-background-soft: var(--black-soft);
  --color-background-mute: var(--black-mute);

  --color-border: var(--divider-light-2);
  --color-border-hover: var(--divider-light-1);

  --color-heading: var(--text-light-1);
  --color-text: var(--text-light-1);

  --color-error: var(--error);

  --section-gap: 160px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--black);
    --color-background-soft: var(--black-soft);
    --color-background-mute: var(--black-mute);

    --color-border: var(--divider-dark-2);
    --color-border-hover: var(--divider-dark-1);

    --color-heading: var(--text-dark-1);
    --color-text: var(--text-light-1);
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-weight: normal;
}

body {
  position: relative;
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  transition: color 0.5s, background-color 0.5s;
  line-height: 1.6;
  font-family: 'Space Grotesk', sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
  -webkit-text-decoration-color: rgba(255, 0, 0, 0); /* Safari */   
  text-decoration-color: rgba(255, 0, 0, 0);
  cursor: pointer;
}

p {
  color: var(--color-text);

  &.xl {
    font-size: var(--text-xl);
  }

  &.lg {
    font-size: var(--text-l);
  }
  &.md {
    font-size: var(--text-m);
  }
  &.sm {
    font-size: var(--text-s);
  }
  &.xs {
    font-size: var(--text-xs);
  }
}

@media (hover: hover) {
  a:hover,
  button:hover {
    text-decoration: underline;
    text-decoration-color: var(--text-hover);
    color: var(--text-hover);
  }
}

/* Mobile View */
@media (max-width: 659px) {
  body {
    margin: 0 auto;
  }
}

/* Tablet view */
@media (min-width: 660px) and (max-width: 1024px) {}

/* Desktop View */
@media (min-width: 1025px) {
  body {
    margin: 0 auto;
  }
}